body {
  background-color: #EDFFFF;
  /*background-color: #2600FF;*/
}

.navbar-default {
  background-color: #fbffe3;
  border-color: #FFEFDE;
}

.nav-bar {
  /*background-color: #FBFFE3;*/
    /*background-color: #2600FF;*/
}

.custom-link:hover {
  position: relative;
  background-color: #25CED1 !important;
}

.custom-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffa035;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.custom-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
